body {
    /* background-color: ivory; */
    background-image: url(198.jpg);
    background-size: cover;
    backdrop-filter: blur(20px);
}
h1 {
    font-family: 'Comfortaa', cursive;
    color: #16c79a;
    font-size: 30px;
    border: 1px #e7d9ea solid;
    padding: 50px;
    margin-right: 1000px;
    z-index: 1;
}
h1:hover {
    color: black;
    filter: drop-shadow(8px 8px 10px green);
}
.text {
    font-size: none;
}
.text:hover {
    font-size: 120%;
}
table {
    border: black 1px dashed; width: 20%; background-color: aqua; text-align: center;
}
hr {
    border: 3px slateblue solid;
}

th {
    border: indigo groove 3px;
}
td {
    border: olive outset 5px; background-color: aquamarine;
}
.space {
    margin-left: 60px;
}

.btn {
    margin-left: 60px;
    background-color: #4169E1;
    padding: 10px;
    font-size: 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: #87CEFA;
}

#heading {
    color: #b088f9;
}
#list {
    color: #120078;
}
.pic {
    width: 300px;
    height: 200px;
}
.pic:hover {
    filter: saturate(800%);
}
.img {
    width: 200px;
}
.img:hover {
    filter: sepia(100%);
}